/*******************************************************************************
 * BASE CSS
 *
 * A Base rule is applied to an element using an element selector, a descendent
 * selector, or a child selector, along with any pseudo-classes. It doesn't
 * include any class or ID selectors. It is defining the default styling for how
 * that element should look in all occurences on the page.
 *
 ******************************************************************************/

@import url("text.css");
@import url("embedded.css");
@import url("form.css");

/* BASE GLOBAL VARIABLES */
:root {
  /* A primary color displayet most frequently. */
  --primary-color: #5e35b1;
  --primary-light-color: #9162e4;
  --primary-dark-color: #280680;
  --primary-background-color: #b39ddb;
  --on-primary-color: #ffffff;
  /* A secondary color provides more ways to accent */
  --secondary-color: #37474f;
  --secondary-light-color: #62727b;
  --secondary-dark-color: #102027;
  --secondary-background-color: #b0bec5;
  --on-secondary-color: #ffffff;
  /* Background color appears behind content */
  --background-color: #ffffff;
  --on-background-color: #000000;
  --on-background-shadow-color: rgba(0, 0, 0, 20%);
  /* Surface color affects surfaces of components */
  --surface-color: #f6f8fa;
  --on-surface-color: rgba(0, 0, 0, 100%);
  --on-surface-header-color: rgba(0, 0, 0, 60%);
  --on-surface-hover-color: rgba(0, 0, 0, 20%);
  --on-surface-shadow-color: rgba(0, 0, 0, 10%);
  --on-surface-border-color: rgba(0, 0, 0, 10%);
  /* Error color indicates errors in components */
  --error-color: #b71c1c;
  --on-error-color: #ffffff;
  /* Disabled color indicates component the component cannot be used */
  --disabled-color: #cfd8dc;
  --on-disabled-color: #62757f;
  /* Warning color indicates warning in components */
  --warning-color: #f9a825;
  --on-warning-color: #000000;
  /* Success color indicates the action was successful */
  --success-color: #2e7d32;
  --on-success-color: #ffffff;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color, white);
  color: var(--on-background-color, black);
}
