/* BASE - FORM */

form {
  background-color: var(--surface-color);
}

fieldset {
  border-style: solid;
  border-color: var(--on-surface-border-color);
  border-radius: 0.2rem;
}

legend {
  font-weight: 500;
  color: var(--on-surface-header-color);
}

label {
  color: var(--on-surface-header-color);
}

/* Target the specific input types due to how many varied inputs there are */
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=search],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
input[type=number] {
  width: 100%;
  height: 3rem;
  padding: 0.8rem 1rem;

  color: var(--on-surface-color);
  background-color: var(--on-surface-border-color);
  transition: background-color 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0s;

  border-style: none;
  border-bottom-style: solid;
  border-color: transparent;
  border-radius: 0.2rem 0.2rem 0 0;
  transition: border-color 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=url]:hover,
input[type=email]:hover,
input[type=tel]:hover,
input[type=search]:hover,
input[type=date]:hover,
input[type=month]:hover,
input[type=week]:hover,
input[type=datetime]:hover,
input[type=datetime-local]:hover,
input[type=number]:hover {
  background-color: var(--on-surface-hover-color);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=number]:focus {
  outline: none;
  border-bottom-color: var(--primary-color);
  background-color: var(--on-surface-hover-color);
}

input[type=text]:invalid,
input[type=password]:invalid,
input[type=url]:invalid,
input[type=email]:invalid,
input[type=tel]:invalid,
input[type=search]:invalid,
input[type=date]:invalid,
input[type=month]:invalid,
input[type=week]:invalid,
input[type=datetime]:invalid,
input[type=datetime-local]:invalid,
input[type=number]:invalid {
  box-shadow: none;
  border-bottom-color: var(--error-color);
}

/* Remove Numberfield spinned in Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove numberfield spinner in Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

select {
  width: 100%;
  height: 3rem;

  color: var(--on-surface-60-color, black);
  background-color: transparent;

  outline: none;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: var(--on-surface-border-color);
  transition: border-color 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0s;

  /* Remove the down arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

/* Removes dotted border around select in Firefox */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black;
}

select::-ms-expand {
  outline: none;
  display: none;
}

select:focus {
  outline: none;
  border-bottom-color: var(--primary-color);
}

/* We do not style Checkbox or radio buttons in base because of how janky they
 * are */
input[type=checkbox] {
}

input[type=radio] {
}

textarea {
  width: 100%;
  padding: 1rem 1rem;

  font-size: 1rem;
  color: var(--on-surface-color);
  background-color: var(--on-surface-border-color);
  transition: background-color 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0s;

  border-style: solid;
  border-color: transparent;
  border-radius: 0.2rem 0.2rem 0 0.2rem;
  transition: border-color 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}

textarea:hover {
  background-color: var(--on-surface-hover-color);
}

textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  background-color: var(--on-surface-hover-color);
}

textarea:invalid {
  border-color: var(--error-color);
}

input[type=color] {
  height: 2rem;
  min-width: 6rem;
  padding: 0.2rem 2.2rem;

  font-size: 1rem;
  color: var(--on-surface-color);
  background-color: var(--on-surface-border-color);
  transition: background-color 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0s;

  border-style: solid;
  border-color: transparent;
  border-radius: 0.2rem;
  transition: border-color 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}

input[type=color]:hover {
  background-color: var(--on-surface-hover-color);
}

input[type=color]:focus {
  border-color: var(--primary-color);
  background-color: var(--on-surface-hover-color);
}

input[type=color]:invalid {
  border-color: var(--error-color);
}


/************************************************
 *         RANGE INPUT                          *
 ************************************************/
input[type=range] {
  /* Hides the slider so that custom slider can be made */
  -webkit-appearance: none;
  /* Specific width is required for Firefox. */
  width: 100%;
  /* Otherwise white in Chrome */
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  /* Removes the blue border. */
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Chrome Thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--secondary-color);
  height: 1rem;
  width: 1rem;
  border-radius: 40rem;
  background: var(--secondary-color);
  cursor: pointer;
  margin: -0.35rem;
}

/* Firefox Thumb */
input[type=range]::-moz-range-thumb {
  border: 1px solid var(--secondary-color);
  height: 1rem;
  width: 1rem;
  border-radius: 40rem;
  background: var(--secondary-color);
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}

/* IE Thumb */
input[type=range]::-ms-thumb {
  border: 1px solid var(--secondary-color);
  height: 1rem;
  width: 1rem;
  border-radius: 40rem;
  background: var(--secondary-color);
  cursor: pointer;
}

/* Chrome Track */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  background: var(--secondary-background-color);
  border-radius: 20rem;
}

/* Firefox Track */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  background: var(--secondary-background-color);
  border-radius: 20rem;
}

input[type=range]::-moz-range-progress {
  height: 0.3rem;
  cursor: pointer;
  border-radius: 20rem;
  background: var(--secondary-color);
}

/* IE Track */
input[type=range]::-ms-track {
  width: 100%;
  height: 0.15rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 0.3rem 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: var(--secondary-color);
  border-radius: 20rem;
}

input[type=range]::-ms-fill-upper {
  background: var(--secondary--background-color);
  border-radius: 20rem;
}

/* BUTTONS */
button,
input[type=submit],
input[type=button],
input[type=reset] {
  width: 100%;
  height: 2.4rem;
  padding: 0.7rem 1.2rem;
  margin: 0.2rem;
  overflow: hidden;
  border: none;
  border-radius: 0.3rem;

  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;

  background-color: var(--primary-color);
  color: var(--on-primary-color);
  box-shadow: 0 0.1rem 0.2rem 0 var(--on-background-shadow-color);
  transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}

button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover {
  background-color: var(--primary-light-color);
  box-shadow: 0 0.2rem 0.2rem 0 var(--on-background-shadow-color);
}

button:disabled,
input[type=submit]:disabled,
input[type=button]:disabled,
input[type=reset]:disabled {
  box-shadow: none;
  background-color: var(--disabled-color);
  color: var(--on-disabled-color);
}
