/* BASE - TEXT */

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 3.75rem;
  font-weight: lighter;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 3rem;
  letter-spacing: 0px;
}

h4 {
  font-size: 2.125rem;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 0px;
}

h6 {
  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: 0.15px;
}

/* PARAGRAPHS */
p {
  margin: 0rem 0rem 1rem 0rem;
}

/* BLOCKQUOTES */
blockquote {
  display: grid;
  font-style: oblique;
  margin: 0rem 0rem 1rem 2rem;
}

blockquote > cite {
  justify-self: end;
  align-self: end;
}

/* LISTS */
dl {
}

dt {
  font-weight: bold;
}

dd {
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: number;
}

li {
  list-style-type: inherit;
}

/* HORIZONTAL RULES */
hr {
  align: center;
  width: 95%;
  color: var(--secondary-color-variant, slategray);
}

/* TABLES */
table {
  background-color: var(--surface-color, white);
  border-color: var(--on-surface-border-color, black);
  border-width: 1px;
  border-style: solid;
  border-spacing: 0px;
  color: var(--on-surface-color, black);
  border-collapse: collapse;
}

caption {
  padding: 1rem;
  caption-side: bottom;
}

thead {
  text-align: center;
  color: var(--on-surface-header-color, black);
}

tfoot {
  text-align: center;
  color: var(--on-surface-header-color, black);
}

tbody {
}

tr {
}

td {
  border-color: var(--on-surface-border-color, black);
  border-width: 1px;
  border-style: solid;
}

td, th {
  text-align: center;
  padding: 0.4rem 1rem 0.4rem 1rem;
}

thead > tr > th {
}

tfoot > tr > th {
}

/* CODE */
kbd {
  background-color: var(--surface-color, lightgray);
  border: 1px solid var(--on-surface-border-color, slategray);
  color: var(--on-surface-color, black);
  box-shadow: 0 0.1rem 2px var(--on-surface-shadow-color, gray);

  border-radius: 0.2rem;
  display: inline-block;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
}

code {
  background-color: var(--surface-color, lightgray);
  color: var(--on-surface-color, black);
  border-radius: 0.2rem;
  padding: 0.2rem;
  font-family: courier, monospace;
}

samp {
  font-weight: bold;
  font-family: courier, monospace;
}

pre {
}

/* INLINE ELEMENTS */
a {
  width: max-content;

  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color, blue);
  transition: color 100ms cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}

a:focus,
a:active,
a:hover {
  outline: 0;
}

a:hover {
  color: var(--primary-hover-color, lightblue);
}

strong {
}

em {
}

b {
}

i {
}

u {
}

del {
  text-decoration: line-through;
  background-color: var(--error-color, firebrick);
  color: var(--on-error-color, white);
}

ins {
  text-decoration: none;
  background-color: var(--success-color, lightgreen);
  color: var(--on-success-color, white);
}

s {
}

sup, sub {
  font-family: 1rem 'Fira Sans', sans-serif;
}

small {
  font-size: 0.7rem;
}

abbr {
  font-style: italic;
  font-weight: 100%;
}

q {
  font-style: italic;
}

cite {
}

dfn {
}

mark {
  background-color: var(--warning-color, gold);
  color: var(--on-warning-color, black);
}

var {
  font-weight: bold;
}

time {
  font-weight: bold;
}
