/public/

.hugo_build.lock
/resources/_gen/

node_modules/
yarn.lock
pnpm-lock.yaml
.eslintcache

.env

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
