<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ absURL `styles/firacode.css` }}">
	<link rel="stylesheet" href="{{ absURL `styles/fontawesome.min.css` }}">
	<link rel="stylesheet" type="text/css" href="{{ absURL `styles/output.css` }}">

	<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
	<script src="/pagefind/pagefind-ui.js"></script>

	<script>
		function setTheme(themeName) {
			document.documentElement.setAttribute('data-theme', themeName);
			localStorage.setItem('theme', themeName);
		}

		const savedTheme = localStorage.getItem('theme');
		if (savedTheme) {
		  setTheme(savedTheme);
		} else {
			const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
			setTheme(prefersDark ? 'dark' : 'light');
		}
	</script>

	<title>maladroit.dev</title>
	{{ range .AlternativeOutputFormats -}}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
	{{ end -}}
</head>
