<!DOCTYPE html>
<html>
	{{- partial "head.html" . -}}
  <body class="antialiased min-h-screen flex flex-col font-sans transition-colors duration-300">
		<div class="max-w-4xl mx-auto w-full px-6 flex-grow flex flex-col">
			{{- partial "header.html" . -}}
			<main id="content" class="flex-grow py-8" data-pagefind-body>
			{{- block "main" . }}{{- end }}
			</main>
			{{- partial "footer.html" . -}}
		</div>

		{{ if .Store.Get "hasMermaid" }}
			<script type="module">
				import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
				mermaid.initialize({ startOnLoad: true });
			</script>
		{{ end }}
  </body>
</html>
