{{ define "main" }}
<h1 class="text-3xl font-bold mb-8">{{ .Title }}</h1>

<div class="prose prose-lg mx-auto max-w-none">
	{{ .Content }}
</div>
<br>

{{ if .Sections }}
<h2 class="text-3xl font-bold mb-8">Sections</h2>
<ul class="space-y-12 list-none pl-0">
{{ range .Sections }}
{{- partial "listitem.html" . -}}
{{ end }}
</ul>
{{ end }}

<h2 class="text-3xl font-bold mb-8">Notes</h2>
<ul class="space-y-12 list-none pl-0">
{{ range .RegularPages.ByPublishDate.Reverse }}
{{- partial "listitem.html" . -}}
{{ end }}
</ul>

{{ end }}
